/*
Zocial
*/

.zocial-twitter:before,
.zocial-github:before,
.zocial-gmail:before,
.zocial-linkedin:before {
	font-family: 'zocial', sans-serif;
	margin: 5px 10px 5px 0;
}

/* entypo */
.entypo-plus:before,
.entypo-home:before,
.entypo-phone:before,
.entypo-rocket:before,
.entypo-star:before,
.entypo-briefcase:before,
.entypo-book:before,
.entypo-trophy:before,
.entypo-check:before,
.entypo-hourglass:before,
.entypo-calendar:before {
	font-family: 'entypo', sans-serif;
	margin: 5px 10px 5px 0;
}

/*
Main Page Styles
*/

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding:0;
	margin:0;
	font: normal 300 1em 'Raleway', sans-serif;
}

h1 {
	display: inline;
	font-weight: 500;
}

h2 {
	font-weight: bold;
	font-size: 26px;
	color: black;
	line-height: 29px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	color: white;
	line-height: 17px;
}

body {
	background-color: white;
}

h2,
h3,
h4,
h5 {
	padding: 10px 5% 2px 5%;
}

/*
Link, Paragraph, and Image Styles
*/

p {
	font-size: 14px;
	color: #333;
	line-height: 21px;
}

a {
	color: black;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

img {
	padding: 10px;
	width: 100%;
	max-width: 500px;
}

/*
Span & List Styles
*/

span {
	color: #66cccc;
}

ul {
	list-style-type: none;
}

/*
CLASS STYLES (in order of HTML)
*/

.container {
	max-width: 900px;
}

/* Logo Row */

.key-logo {
	margin: auto;
	display: block;
}

/* First Row */

.top-row {
	padding: 2% 0;
}

.name {
	font-size: 6em;
	color: black;
}

.upper-text {
	text-transform: uppercase;
}

.role {
	padding: 0 10px;
	font-size: 2em;
	color: #00a815;
}

.message {
	background-color: #1199c3;
	padding: 7px;
	margin: 10px;
}

.right-header {
	background-color: #16dc2e;
	padding: 0 0 8px 0;
	margin: 31px 0 0 0;
}

.contact-info {
	color: #006363;
	display: inline;
	padding: 0 8px;
}

.nonlink-contacts {
	text-align: center;
	margin: 10px;
}

.welcome-message {
	font-style: italic;
	font-size: 14px;
	color: white;
	line-height: 28px;
	padding: 5px;
}

/* Second Row - Skills & Projects */

.black {
	background-color: black;
	height: 1px;
}

.second-row {
	margin: 10px 0;
}

.skills-box {
	list-style: none;
	padding: 0 15px;
}

.skills-list {
	padding: 0;
}

.project-title {
	color: #d05e00;
	font-weight: bold;
}

/* Third Row - Work */

.work-title {
	font-weight: bold;
	color: #1199c3;
	font-size: 1.1em;
}

.work-bullets {
	margin: 0 0 0 25px;
}

.work-experience {
	padding: 10px 5%;
	clear: both;
}

.school-name {
	margin: 2px 0;
	font-weight: bold;
}

/* Fourth Row - Education */

.education {
	padding: 10px 5%;
	clear: both;
}

.flexbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.flexbox,
.education-box {
	flex: 1;
}

.edu-title {
	color: #66cc33;
}


/* Fifth Row - Awards */

.awards-section {
	padding: 10px 5%;
	clear: both;
}

.awards-list {
	padding: 10px 5%;
	clear: both;
}

.award-entry {
	padding: 5px;
}

/* General */

.blue-text {
	color: blue;
}

.clear-fix {
	overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
	padding: 0 5%;
}

.date-text {
	font-style: italic;
	font-size: 13px;
	color: #808080;
	line-height: 16px;
}

.location-text {
	font-style: italic;
	font-size: 13px;
	color: #999;
	line-height: 16px;
}

.desc-item {
	padding: 2px 20px;
	font-size: 14px;
	list-style-type: square;
}

.blue {
	background-color: #333399;
}

.yellow-text {
	color: #ffff00;
}

.dark-hot-text {
	font-weight: bold;
	color: #bd0900;
}

.center-text{
	color: #33cc00;
}

.dark-gray {
	background-color: #4a4a4a;
}

/*
Media queries to handle various device widths
*/

@media only screen and (max-width: 991px) {
	.contact-info {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	.header-contacts,
	.contact-title {
		text-align: center;
	}

	.contact-info {
		display: inline;
	}

	.progress {
		display: none;
	}

	.skills-box {
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0;
	}

	.skills-list {
		margin: 0 25px 10px 25px;
	}

	.flexbox {
		display: block;
	}

	.name {
		font-size: 4em;
	}

	.role {
		font-size: 1.5em;
	}

	.education-box {
		margin: 5px 0;
	}

	.key-logo {
		max-width: 400px;
	}

}